@inherits LayoutComponentBase
<FluentMainLayout class="page" NavMenuTitle="Contents">
    <Header>
        <h1>Thesis Computer Catalog</h1>
    </Header>
    @* <NavMenuContent> *@
    @*     <NavMenu/> *@
    @* </NavMenuContent> *@

    <Body>

    @Body
    <FluentToastProvider/>
    <FluentDialogProvider/>
    <FluentTooltipProvider/>
    <FluentMessageBarProvider/>
    </Body>
</FluentMainLayout>

